<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Festival Simulation</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">Accueil</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="./index.html" class="active">Festivaliers</a>
                    </li>
                    <li>
                        <a href="../add-buses.html">Bus</a>
                    </li>
                    <li>
                        <a href="https://github.com/gigouni/CSR_Festival_REST" target="_blank">Lien vers le dépôt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Combien de festivalier voulez-vous ajouter ?</h1>
                <form id="create-user-form">

                    <div class="form-group">
                        <label for="count">Nombre de festivaliers ? (100 max)</label>
                        <input type="number" class="form-control" id="count"
                               placeholder="">
                    </div>
                    <button type="submit" class="btn btn-default" id="btn_count_field" onclick="return false;">
                        Générer les champs</button>

                </form>
            </div>
        </div>
            <!-- /.row -->

        <div class="row">
            <ul class="list-unstyled text-center" style="padding-top:90px;">
                <li><span><a href="./add-festivalier.html" title="Ajout d'un festivalier">Ajouter des festivaliers</a></span></li>
                <li><span><a href="./get-festivalier.html" title="Avoir d'un festivalier">Avoir les informations d'un festivalier</a></span></li>
                <li><span><a href="./list-festivaliers.html" title="Lister les festivaliers">Lister les festivaliers inscrits</a></span></li>
                <li><span><a href="./stat-festivalier.html" title="Ajout d'un festivalier">Statistiques</a></span></li>
                <li><span><a href="../index.html" title="Retour à la page d'accueil">Retour à l'accueil</a></span></li>
            </ul>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Custom JS code -->
    <script src="../../static/js/app.js"></script>

</body>

</html>
